extends layout

block content
  div(class="container")
    div(class="navbar-inner")
      ul(class="nav nav-pills nav-stacked col-md-3")
        li(href = "#")
          a(href = "#") Padding Activity
        li(href = "#")
          a(href = "#") Ongoing Activity
        li(href = "#")
          a(href = "#") upcoming Activity
        li(href = "#")
          a(href = "#") History Activity
    div(class="col-md-8")
      div(class="panel panel-default")
        div(class="panel-heading")
          h3 Hiking
        div(class="panel-body")
          div(class="panel panel-default")
            div(class="panel-heading")
              h4 Activity Information
            div(class="panel-body")
              div(class="row" name="panel-name")
                span(class = "col-md-3") Activity Name
                span(class = "col-md-5") Hiking
              div(class="row" name="panel-location")
                span(class = "col-md-3") Activity Location
                span(class = "col-md-5") Shenzhen
              div(class="row" name="panel-time")
                span(class = "col-md-3") Activity Time
                span(class = "col-md-5") 3/7/2015
              div(class="row" name="panel-organizer")
                span(class = "col-md-3") Activity Organizer
                span(class = "col-md-5") Cyrus
          div(class="panel panel-default")
            div(class="panel-heading")
              h4 Participants Information
            div(class="panel-body")
              label
                a(href = "#") Cyrus,
              label
                a(href = "#") Chris,
              label
                a(href = "#") Yiran,
              label
                a(href = "#") Fiona,
              label
                a(href = "#") Layne,
              label
                a(href = "#") Xinlai
          div
            button(name="accept") Accept
            button(name="reject") Reject

