body {
  padding: 0px;
  height:100%;
  font-family: Oswald-Regular-Roman, Tahoma, sans-serif !important;
  letter-spacing: 0.8px;
}
.navbar {
    background-color: rgb(121, 234, 155) !important;
}
.navbar li a {
    color: white !important;
}
a {
  color: #00B7FF;
}
.navbar{
  background-color:white;
}
.navbar li a{
  text-decoration: none;
  color:black;
  font-size:1.5em;
}
.navbar li a:hover{
  color:black;
}
.cover{
  width:100%;
  min-height:750px;
  background-image:url('/images/2.jpg');
  background-size: cover;
  z-index:-1;
}

#welcome{
  margin:0 auto;
  padding-top:350px;
  color:white;
  font-size:4em;
  text-align: center;

}

.login,
.register{
  margin-top:80px;
  border:1px solid white !important;
  background-color:rgba(23, 15, 15, 0.5);
  color:white;
  width:100%;
  height:50px;
  font-size:20pt !important;
}
.login:hover,
.register:hover{
  border:1px solid black;
  background-color:white;
  color:black;
}
.loginpanel,.registerpanel{
  display:none;
  position:fixed;
  z-index:999;
  margin-top:-600px;
  background-color:rgba(23, 15, 15, 0.5) !important;
  border:0px !important;
}
.loginpanel form label,.registerpanel form label{
  color:white !important;
}
.panel-default>.panel-heading {
  background-color:transparent !important;
  color:white !important;
}
.form-control{
    background-color: rgba(255, 255, 255, 0.11) !important;
}
#loginform,#registerform{
  margin-top:20px;
}
.loginpanel .form-group div *,.registerpanel .form-group div *{
  border:1px solid white !important;
  background-color:rgba(23, 15, 15, 0.5);
  color:white;
  width:100%;
  height:45px;
}
.loginpanel .form-group div *:hover,.registerpanel .form-group div *:hover{
  border:1px solid black;
  background-color:white;
  color:black;
}
.dropdown-menu>li>a {

  color: #333 !important;

}
@font-face{
  font-family:"Oswald-Light-Italic";
  src:url("/fonts/Oswald-Light-Italic/Oswald-LightItalic.ttf");
}
@font-face{
  font-family:"Oswald-Regular-Italic";
  src:url("/fonts/Oswald-Regular-Italic/Oswald-RegularItalic.ttf");
}
@font-face{
  font-family:"Oswald-Bold-Italic";
  src:url("/fonts/Oswald-Demi-Bold-Italic/Oswald-Demi-BoldItalic.ttf");
}
@font-face{
  font-family:"Oswald-Light-Roman";
  src:url("/fonts/Oswald-Light-Roman/Oswald-Light.ttf");
}
@font-face{
  font-family:"Oswald-Regular-Roman";
  src:url("/fonts/Oswald-Regular-Roman/Oswald-Regular.ttf");
}
@font-face{
  font-family:"Oswald-Bold-Roman";
  src:url("/fonts/Oswald-Demi-Bold-Roman/Oswald-DemiBold.ttf");
}